USE [master]
GO
/****** Object:  Database [Trading]    Script Date: 2021-12-01 02:42:34 ******/
CREATE DATABASE [Trading]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stocks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\Stocks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stocks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\Stocks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trading].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trading]
GO
/****** Object:  Table [dbo].[StockCompany]    Script Date: 2021-12-01 02:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCompany](
	[CompanyId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExchangeId] [nvarchar](10) NOT NULL,
	[CountryCode] [nvarchar](3) NOT NULL,
	[StockCode] [nvarchar](10) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[GICSIndustryGroup] [nvarchar](100) NULL,
	[TradeStatus] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StockCompany] ON 

INSERT [dbo].[StockCompany] ([CompanyId], [ExchangeId], [CountryCode], [StockCode], [CompanyName], [GICSIndustryGroup], [TradeStatus]) VALUES (4591, N'ASX', N'AU', N'AF1', N'AFG 2019-2 TRUST IN RESPECT OF SERIES 2019-2', N'Not Applic', 1)
INSERT [dbo].[StockCompany] ([CompanyId], [ExchangeId], [CountryCode], [StockCode], [CompanyName], [GICSIndustryGroup], [TradeStatus]) VALUES (4592, N'ASX', N'AU', N'AF2', N'AFG 2020-1NC TRUST IN RESPECT OF SERIES 2020-1NC', N'Not Applic', 1)
INSERT [dbo].[StockCompany] ([CompanyId], [ExchangeId], [CountryCode], [StockCode], [CompanyName], [GICSIndustryGroup], [TradeStatus]) VALUES (4593, N'ASX', N'AU', N'AFR', N'AFRICAN ENERGY RESOURCES LIMITED', N'Energy', 1)
GO
SET IDENTITY_INSERT [dbo].[StockCompany] OFF
GO
ALTER TABLE [dbo].[StockCompany] ADD  CONSTRAINT [DF_StockCompany_TradeStatus]  DEFAULT ((1)) FOR [TradeStatus]
GO
USE [master]
GO
